<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="content">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <div class="container">
        <div class="py-5 text-center">
            <h2>마더보드 등록 페이지</h2>
        </div>
        <form th:action>
            <div>
                <label for="name">이름</label>
                <input type="text" name="name" id="name" class="form-control"><br>
            </div>
            <div>
                <label for="manufacturer">제조사</label>
                <input type="text" name="manufacturer" id="manufacturer" class="form-control"><br>
            </div>
            <div>
                <label for="cpuType">구분</label>
                <input type="text" name="cpuType" id="cpuType" class="form-control"><br>
            </div>
            <div>
                <label for="socket">소켓</label>
                <input type="text" name="socket" id="socket" class="form-control"><br>
            </div>
            <div>
                <label for="chipset">칩셋</label>
                <input type="text" name="chipset" id="chipset" class="form-control"><br>
            </div>
            <div>
                <label for="formFactor">폼팩터</label>
                <input type="text" name="formFactor" id="formFactor" class="form-control"><br>
            </div>
            <div>
                <label for="memoryType">메모리 타입</label>
                <input type="text" name="memoryType" id="memoryType" class="form-control"><br>
            </div>
            <div>
                <label for="memorySlot">메모리 슬롯 개수</label>
                <input type="number" name="memorySlot" id="memorySlot" class="form-control"><br>
            </div>
            <div>
                <label for="ssdM2Slot">SSD 슬롯 개수(M.2)</label>
                <input type="number"  name="ssdM2Slot" id="ssdM2Slot" class="form-control"><br>
            </div>
            <div>
                <label for="ssdSATASlot">SSD 슬롯 개수(SATA)</label>
                <input type="number"  name="ssdSATASlot" id="ssdSATASlot" class="form-control"><br>
            </div>
        </form>
        <form method="post" onsubmit="submitForm(event)">
            <button type="submit" id="save" class="btn btn-primary">저장</button>
        </form>
    </div>
    <script type="text/javascript">
        function submitForm(event) {
            event.preventDefault();

            var MotherBoard = {
                name: document.getElementById('name').value,
                manufacturer: document.getElementById('manufacturer').value,
                cpuType: document.getElementById('cpuType').value,
                socket: document.getElementById('socket').value,
                chipset: document.getElementById('chipset').value,
                formFactor: document.getElementById('formFactor').value,
                memoryType: document.getElementById('memoryType').value,
                memorySlot: document.getElementById('memorySlot').value,
                ssdM2Slot: document.getElementById('ssdM2Slot').value,
                ssdSATASlot: document.getElementById('ssdSATASlot').value,
            };
            $.ajax({
                url: "/adminPage/editParts",
                type: "post",
                data: {
                    Type : "MotherBoard",
                    Data : JSON.stringify(MotherBoard)
                },
                success: function(response) {
                    window.location.href = response.url;
                },
                error: function(error) {
                    console.log("Error:", error);
                }
            });
        }
    </script>
</body>
</html>