<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="content">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <div class="container">
        <div class="py-5 text-center">
            <h2>CPU쿨러 데이터 수정 페이지</h2>
        </div>
        <form th:action>
            <div>
                <label for="name">이름</label>
                <input type="text" name="name" id="name" class="form-control" th:value="${item.name}"><br>
            </div>
            <div>
                <span class="control-fileupload">
                  <label for="imageFile">부품 이미지</label>
                  <input type="file" id="imageFile">
                </span>
            </div>
            <div>
                <label for="manufacturer">제조사</label>
                <input type="text" name="manufacturer" id="manufacturer" class="form-control" th:value="${item.manufacturer}"><br>
            </div>
            <div>
                <label for="coolingType">쿨링 방식</label>
                <input type="text" name="coolingType" id="coolingType" class="form-control" th:value="${item.coolingType}"><br>
            </div>
            <div>
                <label for="coolerForm">쿨러 형태</label>
                <input type="text" name="coolerForm" id="coolerForm" class="form-control" th:value="${item.coolerForm}"><br>
            </div>
            <div>
                <label for="height">높이</label>
                <input type="number" name="height" id="height" class="form-control" th:value="${item.height}"><br>
            </div>
            <div>
                <label for="length">길이</label>
                <input type="number" name="length" id="length" class="form-control" th:value="${item.length}"><br>
            </div>
            <div>
                <label for="width">너비</label>
                <input type="number"  name="width" id="width" class="form-control" th:value="${item.width}"><br>
            </div>
            <div>
                <label for="TDP">TDP</label>
                <input type="number"  name="TDP" id="TDP" class="form-control" th:value="${item.TDP}"><br>
            </div>
        </form>
        <form method="post" onsubmit="submitForm(event)">
            <button type="submit" id="save" class="btn btn-primary">저장</button>
        </form>
        <button type="submit" id="cancel" class="btn btn-primary" onclick="returnForm()">취소</button>
    </div>
    <script type="text/javascript">
        function submitForm(event) {
            event.preventDefault();

            var CPUCooler = {
                name: document.getElementById('name').value,
                manufacturer: document.getElementById('manufacturer').value,
                coolingType: document.getElementById('coolingType').value,
                coolerForm: document.getElementById('coolerForm').value,
                height: document.getElementById('height').value,
                length: document.getElementById('length').value,
                width: document.getElementById('width').checked,
                TDP: document.getElementById('TDP').value
            };

            var formData = new FormData();
            formData.append('Type', 'CPUCooler');
            formData.append('Data', JSON.stringify(CPUCooler));
            formData.append('Image', $('#imageFile')[0].files[0]);

            $.ajax({
                url: "/adminPage/createParts",
                type: "post",
                data: formData,
                processData: false,
                contentType: false
            }).done(function() {
                window.location.href = '/adminPage/main';
            }).fail(function(error) {
                console.log("Error:", error);
            });
        }

        function returnForm(){
            history.go(-1);
        }
    </script>
</body>
</html>