<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="content">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <div class="container">
        <div class="py-5 text-center">
            <h2>그래픽카드 데이터 수정 페이지</h2>
        </div>
        <form th:action>
            <div>
                <label for="name">이름</label>
                <input type="text" name="name" id="name" class="form-control" th:value="${item.name}"><br>
            </div>
            <div>
                <label for="manufacturer">제조사</label>
                <input type="text" name="manufacturer" id="manufacturer" class="form-control" th:value="${item.manufacturer}"><br>
            </div>
            <div>
                <label for="chipsetManufacturer">구분</label>
                <input type="text" name="chipsetManufacturer" id="chipsetManufacturer" class="form-control" th:value="${item.chipsetManufacturer}"><br>
            </div>
            <div>
                <label for="gpuType">GPU</label>
                <input type="text" name="gpuType" id="gpuType" class="form-control" th:value="${item.gpuType}"><br>
            </div>
            <div>
                <label for="length">길이</label>
                <input type="number" name="length" id="length" class="form-control" th:value="${item.length}"><br>
            </div>
            <div>
                <label for="basicPower">기본전력</label>
                <input type="number" name="basicPower" id="basicPower" class="form-control" th:value="${item.basicPower}"><br>
            </div>
            <div>
                <label for="maxPower">최대전력</label>
                <input type="number"  name="maxPower" id="maxPower" class="form-control" th:value="${item.maxPower}"><br>
            </div>
            <div>
                <label for="phase">페이즈 수</label>
                <input type="number"  name="phase" id="phase" class="form-control" th:value="${item.phase}"><br>
            </div>
        </form>
        <form method="post" onsubmit="submitForm(event)">
            <button type="submit" id="save" class="btn btn-primary">저장</button>
        </form>
        <button type="submit" id="cancel" class="btn btn-primary" onclick="returnForm()">취소</button>
    </div>
    <script type="text/javascript">
        function submitForm(event) {
            event.preventDefault();

            var GraphicsCard = {
                name: document.getElementById('name').value,
                manufacturer: document.getElementById('manufacturer').value,
                chipsetManufacturer: document.getElementById('chipsetManufacturer').value,
                gpuType: document.getElementById('gpuType').value,
                length: document.getElementById('length').value,
                basicPower: document.getElementById('basicPower').value,
                maxPower: document.getElementById('maxPower').value,
                phase: document.getElementById('phase').value
            };
            $.ajax({
                url: "/adminPage/editParts",
                type: "post",
                data: {
                    Type : "GraphicsCard",
                    Data : JSON.stringify(GraphicsCard)
                }
            }).done(function() {
                window.location.href = '/adminPage/main';
            }).fail(function(error) {
                console.log("Error:", error);
            });
        }

        function returnForm(){
            history.go(-1);
        }
    </script>
</body>
</html>