<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="content">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <div class="container">
        <div class="py-5 text-center">
            <h2>메모리 데이터 수정 페이지</h2>
        </div>
        <form th:action>
            <div>
                <label for="name">이름</label>
                <input type="text" name="name" id="name" class="form-control" th:value="${item.name}"><br>
            </div>
            <div>
                <span class="control-fileupload">
                  <label for="imageFile">부품 이미지</label>
                  <input type="file" id="imageFile">
                </span>
            </div>
            <div>
                <label for="manufacturer">제조사</label>
                <input type="text" name="manufacturer" id="manufacturer" class="form-control" th:value="${item.manufacturer}"><br>
            </div>
            <div>
                <label for="type">타입</label>
                <input type="text" name="type" id="type" class="form-control" th:value="${item.type}"><br>
            </div>
            <div>
                <label for="capacity">용량</label>
                <input type="number"  name="capacity" id="capacity" class="form-control" th:value="${item.capacity}"><br>
            </div>
            <div>
                <label for="height">높이</label>
                <input type="number"  name="height" id="height" class="form-control" th:value="${item.height}"><br>
            </div>
        </form>
        <form method="post" onsubmit="submitForm(event)">
            <button type="submit" id="save" class="btn btn-primary">저장</button>
        </form>
        <button type="submit" id="cancel" class="btn btn-primary" onclick="returnForm()">취소</button>
    </div>
    <script type="text/javascript">
        function submitForm(event) {
            event.preventDefault();

            var Memory = {
                name: document.getElementById('name').value,
                manufacturer: document.getElementById('manufacturer').value,
                type: document.getElementById('type').value,
                capacity: document.getElementById('capacity').value,
                height: document.getElementById('height').value
            };

            var formData = new FormData();
            formData.append('Type', 'Memory');
            formData.append('Data', JSON.stringify(Memory));
            formData.append('Image', $('#imageFile')[0].files[0]);

            $.ajax({
                url: "/adminPage/createParts",
                type: "post",
                data: formData,
                processData: false,
                contentType: false
            }).done(function() {
                window.location.href = '/adminPage/main';
            }).fail(function(error) {
                console.log("Error:", error);
            });
        }

        function returnForm(){
            history.go(-1);
        }
    </script>
</body>
</html>