<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="content">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <div class="container">
        <div class="py-5 text-center">
            <h2>파워서플라이 데이터 수정 페이지</h2>
        </div>
        <form th:action>
            <div>
                <label for="name">이름</label>
                <input type="text" name="name" id="name" class="form-control" th:value="${item.name}"><br>
            </div>
            <div>
                <label for="manufacturer">제조사</label>
                <input type="text" name="manufacturer" id="manufacturer" class="form-control" th:value="${item.manufacturer}"><br>
            </div>
            <div>
                <label for="power">최대출력</label>
                <input type="number" name="power" id="power" class="form-control" th:value="${item.power}"><br>
            </div>
            <div>
                <label for="efficiency">80PLUS 효율</label>
                <input type="text" name="efficiency" id="efficiency" class="form-control" th:value="${item.efficiency}"><br>
            </div>
            <div>
                <label for="modular">모듈러</label>
                <input type="text" name="modular" id="modular" class="form-control" th:value="${item.modular}"><br>
            </div>
            <div>
                <label for="length">길이</label>
                <input type="number" name="length" id="length" class="form-control" th:value="${item.length}"><br>
            </div>
        </form>
        <form method="post" onsubmit="submitForm(event)">
            <button type="submit" id="save" class="btn btn-primary">저장</button>
        </form>
        <button type="submit" id="cancel" class="btn btn-primary" onclick="returnForm()">취소</button>
    </div>
    <script type="text/javascript">
        function submitForm(event) {
            event.preventDefault();

            var PowerSupply = {
                name: document.getElementById('name').value,
                manufacturer: document.getElementById('manufacturer').value,
                power: document.getElementById('power').value,
                efficiency: document.getElementById('efficiency').value,
                modular: document.getElementById('modular').value,
                length: document.getElementById('length').value
            };
            $.ajax({
                url: "/adminPage/editParts",
                type: "post",
                data: {
                    Type : "PowerSupply",
                    Data : JSON.stringify(PowerSupply)
                }
            }).done(function() {
                window.location.href = '/adminPage/main';
            }).fail(function(error) {
                console.log("Error:", error);
            });
        }

        function returnForm(){
            history.go(-1);
        }
    </script>
</body>
</html>