<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body th:fragment="header">
    <header data-bs-theme="dark">
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="/CusCom/mainPage" class="navbar-brand d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-gpu-card me-1" viewBox="0 0 16 16">
                        <path d="M4 8a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Zm7.5-1.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3Z"/>
                        <path d="M0 1.5A.5.5 0 0 1 .5 1h1a.5.5 0 0 1 .5.5V4h13.5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5H2v2.5a.5.5 0 0 1-1 0V2H.5a.5.5 0 0 1-.5-.5Zm5.5 4a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5ZM9 8a2.5 2.5 0 1 0 5 0 2.5 2.5 0 0 0-5 0Z"/>
                        <path d="M3 12.5h3.5v1a.5.5 0 0 1-.5.5H3.5a.5.5 0 0 1-.5-.5v-1Zm4 1v-1h4v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5Z"/>
                    </svg>
                    <strong>Cus-Com</strong>
                </a>
                <ul class="nav nav-underline">
                    <li class="nav-item">
                        <a class="nav-link" href="/CusCom/estimatePage">컴퓨터 견적</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/CusCom/SharePlace">견적 게시판</a>
                    </li>
                    <li class="nav-item" id="loginCheck">
                        <a class="nav-link" href="/CusCom/loginPage">로그인</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <script type="text/javascript">
        async function checkLoginStatus() {
            try {
                const response = await fetch('/CusCom/API/checkLogin', {
                    method: 'GET',
                    credentials: 'same-origin'
                });

                if (response.ok) {
                    const data = await response.json();
                    if (data.loggedIn === true) {
                        return true;
                    } else {
                        return false;
                    }
                } else {
                    return false;
                }
            } catch (error) {
                console.error(error);
                return false;
            }
        }

        window.addEventListener('load', async function() {
            var loginStatus = document.getElementById("loginCheck");
            var navbar = document.getElementById("navbar");

            if (await checkLoginStatus()) {
                loginStatus.innerHTML = '<a class="nav-link" href="/CusCom/myPage">마이페이지</a>';
            } else {
                loginStatus.innerHTML = '<a class="nav-link" href="/CusCom/loginPage">로그인</a>';
            }
        });
    </script>
</body>
</html>