<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="content">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
        .panel-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        tr{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .button-group {
            display: flex;
            justify-content: space-between;
        }
    </style>
    <script th:inline="javascript">
        function deleteItem(button) {
            var requestData = {
                name: button.getAttribute("data-item-id"),
                type: $(button).closest("tr").attr("id")
            };
            $.ajax({
                url: "/adminPage/deleteParts",
                method: "post",
                data: JSON.stringify(requestData),
                dataType: "json"
            }).done(function() {
                $(button).closest("tr").remove();
            }).fail(function(error) {
                console.log("Error:", error);
            });
        }
    </script>
</head>
<body>
        <div class="container-fluid" style="width:40%; overflow:auto">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingCase">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCase" aria-expanded="false" aria-controls="collapseCase">
                                케이스
                            </a>
                            <form method="get" action="/adminPage/editCase">
                                <button class="btn btn-lg btn-primary btn-block" type="submit" style="border: none;">추가</button>
                            </form>
                        </h4>
                    </div>
                    <div id="collapseCase" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCase">
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="case : ${caseList}" th:id="Case">
                                    <td th:text="${case.name}">케이스 이름</td>
                                    <td>
                                        <div class="button-container">
                                            <form method="get" action="/adminPage/editCase">
                                                <input type="hidden" id="Target" name="Target" th:value="${case.name}">
                                                <button class="btn btn-primary" type="submit" style="border: none;">edit</button>
                                            </form>
                                            <button class="btn btn-primary" th:attr="data-item-id=${case.name}" style="background-color: red; color: white; border: none;" onclick="deleteItem(this)">delete</button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingCPUCooler">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCPUCooler" aria-expanded="false" aria-controls="collapseCPUCooler">
                                CPU 쿨러
                            </a>
                            <form class="form-signin" method="get" action="/adminPage/editCPUCooler">
                                <button class="btn btn-lg btn-primary btn-block" type="submit" style="border: none;">추가</button>
                            </form>
                        </h4>
                    </div>
                    <div id="collapseCPUCooler" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCPUCooler">
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="cpuCooler : ${cpuCoolerList}" th:id="CPUCooler">
                                    <td th:text="${cpuCooler.name}">쿨러 이름</td>
                                    <td>
                                        <div class="button-container">
                                            <button class="btn btn-primary" style="border: none;">edit</button>
                                            <button class="btn btn-primary" th:attr="data-item-id=${cpuCooler.name}" style="background-color: red; color: white; border: none;" onclick="deleteItem(this)">delete</button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingCPU">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCPU" aria-expanded="false" aria-controls="collapseCPU">
                                CPU
                            </a>
                            <form class="form-signin" method="get" action="/adminPage/editCPU">
                                <button class="btn btn-lg btn-primary btn-block" type="submit" style="border: none;">추가</button>
                            </form>
                        </h4>
                    </div>
                    <div id="collapseCPU" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCPU">
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="cpu : ${cpuList}" th:id="CPU">
                                    <td th:text="${cpu.name}">CPU 이름</td>
                                    <td>
                                        <div class="button-container">
                                            <button class="btn btn-primary" style="border: none;">edit</button>
                                            <button class="btn btn-primary" th:attr="data-item-id=${cpu.name}" style="background-color: red; color: white; border: none;" onclick="deleteItem(this)">delete</button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingDataStorage">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDataStorage" aria-expanded="false" aria-controls="collapseDataStorage">
                                저장장치
                            </a>
                            <form class="form-signin" method="get" action="/adminPage/editDataStorage">
                                <button class="btn btn-lg btn-primary btn-block" type="submit" style="border: none;">추가</button>
                            </form>
                        </h4>
                    </div>
                    <div id="collapseDataStorage" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingDataStorage">
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="dataStorage : ${dataStorageList}" th:id="DataStorage">
                                    <td th:text="${dataStorage.name}">저장장치 이름</td>
                                    <td>
                                        <div class="button-container">
                                            <button class="btn btn-primary" style="border: none;">edit</button>
                                            <button class="btn btn-primary" th:attr="data-item-id=${dataStorage.name}" style="background-color: red; color: white; border: none;" onclick="deleteItem(this)">delete</button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingGraphicsCard">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseGraphicsCard" aria-expanded="false" aria-controls="collapseGraphicsCard">
                                그래픽카드
                            </a>
                            <form class="form-signin" method="get" action="/adminPage/editGraphicsCard">
                                <button class="btn btn-lg btn-primary btn-block" type="submit" style="border: none;">추가</button>
                            </form>
                        </h4>
                    </div>
                    <div id="collapseGraphicsCard" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingGraphicsCard">
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="graphicsCard : ${graphicsCardList}" th:id="GraphicsCard">
                                    <td th:text="${graphicsCard.name}">그래픽카드 이름</td>
                                    <td>
                                        <div class="button-container">
                                            <button class="btn btn-primary" style="border: none;">edit</button>
                                            <button class="btn btn-primary" th:attr="data-item-id=${graphicsCard.name}" style="background-color: red; color: white; border: none;" onclick="deleteItem(this)">delete</button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingMemory">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseMemory" aria-expanded="false" aria-controls="collapseMemory">
                                메모리
                            </a>
                            <form class="form-signin" method="get" action="/adminPage/editMemory">
                                <button class="btn btn-lg btn-primary btn-block" type="submit" style="border: none;">추가</button>
                            </form>
                        </h4>
                    </div>
                    <div id="collapseMemory" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingMemory">
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="memory : ${memoryList}" th:id="Memory">
                                    <td th:text="${memory.name}">메모리 이름</td>
                                    <td>
                                        <div class="button-container">
                                            <button class="btn btn-primary" style="border: none;">edit</button>
                                            <button class="btn btn-primary" th:attr="data-item-id=${memory.name}" style="background-color: red; color: white; border: none;" onclick="deleteItem(this)">delete</button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingMotherBoard">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseMotherBoard" aria-expanded="false" aria-controls="collapseMotherBoard">
                                마더보드
                            </a>
                            <form class="form-signin" method="get" action="/adminPage/editMotherBoard">
                                <button class="btn btn-lg btn-primary btn-block" type="submit" style="border: none;">추가</button>
                            </form>
                        </h4>
                    </div>
                    <div id="collapseMotherBoard" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingMotherBoard">
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="motherBoard : ${motherBoardList}" th:id="MotherBoard">
                                    <td th:text="${motherBoard.name}">마더보드 이름</td>
                                    <td>
                                        <div class="button-container">
                                            <button class="btn btn-primary" style="border: none;">edit</button>
                                            <button class="btn btn-primary" th:attr="data-item-id=${motherBoard.name}" style="background-color: red; color: white; border: none;" onclick="deleteItem(this)">delete</button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingPowerSupply">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePowerSupply" aria-expanded="false" aria-controls="collapsePowerSupply">
                                파워서플라이
                            </a>
                            <form class="form-signin" method="get" action="/adminPage/editPowerSupply">
                                <button class="btn btn-lg btn-primary btn-block" type="submit" style="border: none;">추가</button>
                            </form>
                        </h4>
                    </div>
                    <div id="collapsePowerSupply" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPowerSupply">
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="powerSupply : ${powerSupplyList}" th:id="PowerSupply">
                                    <td th:text="${powerSupply.name}">파워서플라이 이름</td>
                                    <td>
                                        <div class="button-container">
                                            <button class="btn btn-primary" style="border: none;">edit</button>
                                            <button class="btn btn-primary" th:attr="data-item-id=${powerSupply.name}" style="background-color: red; color: white; border: none;" onclick="deleteItem(this)">delete</button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</body>
</html>