<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="content">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <div class="container">
        <div class="py-5 text-center">
            <h2>케이스 데이터 저장 페이지</h2>
        </div>
        <form th:action>
            <div>
                <label for="name">이름</label>
                <input type="text" name="name" id="name" class="form-control"><br>
            </div>
            <div>
                <label for="manufacturer">제조사</label>
                <input type="text" name="manufacturer" id="manufacturer" class="form-control"><br>
            </div>
            <div>
                <label for="caseType">구분</label>
                <input type="text" name="caseType" id="caseType" class="form-control"><br>
            </div>
            <div>
                <label for="maxMotherBoard">최대 마더보드 호환성</label>
                <input type="text" name="maxMotherBoard" id="maxMotherBoard" class="form-control"><br>
            </div>
            <div>
                <label for="maxCoolingFan">최대 쿨링팬 개수</label>
                <input type="number" name="maxCoolingFan" id="maxCoolingFan" class="form-control"><br>
            </div>
            <div>
                <label for="builtInCoolingFan">기본 쿨링팬 개수</label>
                <input type="number" name="builtInCoolingFan" id="builtInCoolingFan" class="form-control"><br>
            </div>
            <div>
                <label for="height">높이</label>
                <input type="number" name="height" id="height" class="form-control"><br>
            </div>
            <div>
                <label for="length">길이</label>
                <input type="number" name="length" id="length" class="form-control"><br>
            </div>
            <div>
                <label for="width">너비</label>
                <input type="number"  name="width" id="width" class="form-control"><br>
            </div>
            <div>
                <label for="powerLength">최대 파워서플라이 크기</label>
                <input type="number" name="powerLength" id="powerLength" class="form-control"><br>
            </div>
            <div>
                <label for="cpuCoolerHeight">최대 CPU 쿨러 높이</label>
                <input type="number" name="cpuCoolerHeight" id="cpuCoolerHeight" class="form-control"><br>
            </div>
            <div>
                <label for="graphicsCardLength">최대 그래픽카드 길이</label>
                <input type="number" name="graphicsCardLength" id="graphicsCardLength" class="form-control"><br>
            </div>
        </form>
        <form method="post" onsubmit="submitForm(event)">
            <button type="submit" id="save" class="btn btn-primary">저장</button>
        </form>
        <button type="submit" id="cancel" class="btn btn-primary" onclick="returnForm()">취소</button>
    </div>
    <script type="text/javascript">
        function submitForm(event) {
            event.preventDefault();

            var Case = {
                name: document.getElementById('name').value,
                manufacturer: document.getElementById('manufacturer').value,
                caseType: document.getElementById('caseType').value,
                maxMotherBoard: document.getElementById('maxMotherBoard').value,
                maxCoolingFan: document.getElementById('maxCoolingFan').value,
                builtInCoolingFan: document.getElementById('builtInCoolingFan').value,
                height: document.getElementById('height').value,
                length: document.getElementById('length').value,
                width: document.getElementById('width').value,
                powerLength: document.getElementById('powerLength').value,
                cpuCoolerHeight: document.getElementById('cpuCoolerHeight').value,
                graphicsCardLength: document.getElementById('graphicsCardLength').value
            };
            $.ajax({
                url: "/adminPage/editParts",
                type: "post",
                data: {
                    Type : "Case",
                    Data : JSON.stringify(Case)
                }
            }).done(function() {
                window.location.href = '/adminPage/main';
            }).fail(function(error) {
                console.log("Error:", error);
            });
        }

        function returnForm(){
            history.go(-1);
        }
    </script>
</body>
</html>