<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="content">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <div class="container">
        <div class="py-5 text-center">
            <h2>CPU쿨러 데이터 등록 페이지</h2>
        </div>
        <form th:action>
            <div>
                <label for="name">이름</label>
                <input type="text" name="name" id="name" class="form-control"><br>
            </div>
            <div>
                <label for="manufacturer">제조사</label>
                <input type="text" name="manufacturer" id="manufacturer" class="form-control"><br>
            </div>
            <div>
                <label for="coolingType">쿨링 방식</label>
                <input type="text" name="coolingType" id="coolingType" class="form-control"><br>
            </div>
            <div>
                <label for="coolerForm">쿨러 형태</label>
                <input type="text" name="coolerForm" id="coolerForm" class="form-control"><br>
            </div>
            <div>
                <label for="height">높이</label>
                <input type="number" name="height" id="height" class="form-control"><br>
            </div>
            <div>
                <label for="length">길이</label>
                <input type="number" name="length" id="length" class="form-control"><br>
            </div>
            <div>
                <label for="width">너비</label>
                <input type="number"  name="width" id="width" class="form-control"><br>
            </div>
            <div>
                <label for="TDP">TDP</label>
                <input type="number"  name="TDP" id="TDP" class="form-control"><br>
            </div>
        </form>
        <form method="post" onsubmit="submitForm(event)">
            <button type="submit" id="save" class="btn btn-primary">저장</button>
        </form>
    </div>
    <script type="text/javascript">
        function submitForm(event) {
            event.preventDefault();

            var CPUCooler = {
                name: document.getElementById('name').value,
                manufacturer: document.getElementById('manufacturer').value,
                coolingType: document.getElementById('coolingType').value,
                coolerForm: document.getElementById('coolerForm').value,
                height: document.getElementById('height').value,
                length: document.getElementById('length').value,
                width: document.getElementById('width').checked,
                TDP: document.getElementById('TDP').value
            };
            $.ajax({
                url: "/adminPage/editParts",
                type: "post",
                data: {
                    Type : "CPUCooler",
                    Data : JSON.stringify(CPUCooler)
                }
            }).done(function() {
                window.location.href = '/adminPage/main';
            }).fail(function(error) {
                console.log("Error:", error);
            });
        }
    </script>
</body>
</html>