<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="content">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <div class="container">
        <div class="py-5 text-center">
            <h2>저장장치 데이터 등록 페이지</h2>
        </div>
        <form th:action>
            <div>
                <label for="name">이름</label>
                <input type="text" name="name" id="name" class="form-control"><br>
            </div>
            <div>
                <label for="manufacturer">제조사</label>
                <input type="text" name="manufacturer" id="manufacturer" class="form-control"><br>
            </div>
            <div>
                <label for="storageInterface">인터페이스</label>
                <input type="text" name="storageInterface" id="storageInterface" class="form-control"><br>
            </div>
            <div>
                <label for="formFactor">폼팩터</label>
                <input type="text" name="formFactor" id="formFactor" class="form-control"><br>
            </div>
            <div>
                <label for="capacity">용량</label>
                <input type="text" name="capacity" id="capacity" class="form-control"><br>
            </div>
            <div>
                <label for="readSpeed">읽기성능</label>
                <input type="number" name="readSpeed" id="readSpeed" class="form-control"><br>
            </div>
            <div>
                <label for="writeSpeed">쓰기성능</label>
                <input type="number"  name="writeSpeed" id="writeSpeed" class="form-control"><br>
            </div>
        </form>
        <form method="post" onsubmit="submitForm(event)">
            <button type="submit" id="save" class="btn btn-primary">저장</button>
        </form>
    </div>
    <script type="text/javascript">
        function submitForm(event) {
            event.preventDefault();

            var DataStorage = {
                name: document.getElementById('name').value,
                manufacturer: document.getElementById('manufacturer').value,
                storageInterface: document.getElementById('storageInterface').value,
                formFactor: document.getElementById('formFactor').value,
                capacity: document.getElementById('capacity').value,
                readSpeed: document.getElementById('readSpeed').value,
                writeSpeed: document.getElementById('writeSpeed').value
            };
            $.ajax({
                url: "/adminPage/createParts",
                type: "post",
                data: {
                    Type : "DataStorage",
                    Data : JSON.stringify(DataStorage)
                }
            }).done(function() {
                window.location.href = '/adminPage/main';
            }).fail(function(error) {
                console.log("Error:", error);
            });
        }
    </script>
</body>
</html>