<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="content">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <div class="container">
        <div class="py-5 text-center">
            <h2>그래픽카드 데이터 등록 페이지</h2>
        </div>
        <form th:action>
            <div>
                <label for="name">이름</label>
                <input type="text" name="name" id="name" class="form-control"><br>
            </div>
            <div>
                <span class="control-fileupload">
                  <label for="imageFile">부품 이미지</label>
                  <input type="file" id="imageFile">
                </span>
            </div>
            <div>
                <label for="manufacturer">제조사</label>
                <input type="text" name="manufacturer" id="manufacturer" class="form-control"><br>
            </div>
            <div>
                <label for="chipsetManufacturer">구분</label>
                <input type="text" name="chipsetManufacturer" id="chipsetManufacturer" class="form-control"><br>
            </div>
            <div>
                <label for="gpuType">GPU</label>
                <input type="text" name="gpuType" id="gpuType" class="form-control"><br>
            </div>
            <div>
                <label for="length">길이</label>
                <input type="number" name="length" id="length" class="form-control"><br>
            </div>
            <div>
                <label for="basicPower">기본전력</label>
                <input type="number" name="basicPower" id="basicPower" class="form-control"><br>
            </div>
            <div>
                <label for="maxPower">최대전력</label>
                <input type="number"  name="maxPower" id="maxPower" class="form-control"><br>
            </div>
            <div>
                <label for="phase">페이즈 수</label>
                <input type="number"  name="phase" id="phase" class="form-control"><br>
            </div>
        </form>
        <form method="post" onsubmit="submitForm(event)">
            <button type="submit" id="save" class="btn btn-primary">저장</button>
        </form>
    </div>
    <script type="text/javascript">
        function submitForm(event) {
            event.preventDefault();

            var GraphicsCard = {
                name: document.getElementById('name').value,
                manufacturer: document.getElementById('manufacturer').value,
                chipsetManufacturer: document.getElementById('chipsetManufacturer').value,
                gpuType: document.getElementById('gpuType').value,
                length: document.getElementById('length').value,
                basicPower: document.getElementById('basicPower').value,
                maxPower: document.getElementById('maxPower').value,
                phase: document.getElementById('phase').value
            };

            var formData = new FormData();
            formData.append('Type', 'GraphicsCard');
            formData.append('Data', JSON.stringify(GraphicsCard));
            formData.append('Image', $('#imageFile')[0].files[0]);

            $.ajax({
                url: "/adminPage/createParts",
                type: "post",
                data: formData,
                processData: false,
                contentType: false
            }).done(function() {
                window.location.href = '/adminPage/main';
            }).fail(function(error) {
                console.log("Error:", error);
            });
        }
    </script>
</body>
</html>