<!doctype html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
  <div th:replace="~{fragments/setup :: setup}"/>
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
  <div class="container" style="width: 400px">

    <main class="form-signin m-auto">
      <div class="py-5 text-center">
        <h2>회원가입</h2>
      </div>
      <div class="row g-5">
        <div>
          <form class="needs-validation" novalidate>
            <h4 class="mb-3">아이디</h4>
              <div class="form-floating">
                <input type="text" class="form-control" name="userName" id="userName" placeholder="아이디">
                <label for="userName">아이디</label>
              </div>
            <hr class="my-4">
            <h4 class="mb-3">비밀번호</h4>
              <div class="form-floating">
                <input type="password" class="form-control" name="userPassword" id="userPassword" placeholder="비밀번호">
                <label for="userPassword">영어+숫자, 8글자 이상</label>
              </div>
            <hr class="my-4">
          </form>
          <div class="d-grid gap-2 col-6 w-100 mx-auto">
            <button class="btn btn-success btn-lg" type="submit" id="confirmJoin">회원가입</button>
            <button class="btn btn-secondary btn-lg" type="submit" id="cancel">취소</button>
          </div>
        </div>
      </div>
    </main>

    <footer class="my-5 pt-5 text-body-secondary text-center text-small">
      <p class="mb-1">&copy; 2023 CusCom</p>
    </footer>
  </div>
  <script type="text/javascript">
    document.getElementById('confirmJoin')
            .addEventListener('click',function(event){

                const joinData={
                    userName: document.getElementById('userName').value,
                    userPassword: document.getElementById('userPassword').value,
                    userRole: "USER"
                };

                fetch("/CusCom/API/join", {
                    method: "POST",
                    headers: {
                      "Content-Type": "application/json"
                    },
                    body: JSON.stringify(joinData)
                })
                .then(response => {
                    if(response.ok){ window.location.href='/CusCom/mainPage'; }
                    else { return response.json(); }
                })
                .then(data => {
                    alert("Error: " + data.message);
                })
                .catch(error => {
                    console.error("Error:", error);
                });
                window.location.href='/CusCom/test/login';
            });

    document.getElementById('cancel')
            .addEventListener('click',function(event){
                history.go(-1);
            });
  </script>
</body>
</html>