<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
  <div th:replace="~{fragments/setup :: setup}"/>
  <style>
      body{
        min-height: 100vh;
      }
  </style>
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">

  <main class="form-signin m-auto text-center" style="width: 400px">
    <form class="form-signin" method="post">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      <div class="d-grid gap-2 col-6 w-100 mx-auto">
        <div class="form-floating">
          <input type="text" class="form-control" id="userid" name="userid" placeholder="아이디">
          <label for="userid">아이디</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="pw" name="pw" placeholder="비밀번호">
          <label for="pw">비밀번호</label>
        </div>
        <button class="btn btn-primary btn-lg py-2" type="submit" id="login_btn">로그인</button>
      </div>
    </form>

    <div class="d-grid mt-2 w-100 mx-auto">
      <button class="btn btn-secondary btn-lg py-2 " id="join_btn">회원가입</button>
    </div>
    <p class="mt-5 mb-3 text-body-secondary">&copy; 2023</p>
  </main>

  <script src="/js/logIn.js"></script>
</body>
</html>