<!doctype html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
  <div th:replace="~{fragments/setup :: setup}"/>
</head>
<body>
    <main>
      <div class="container-fluid">
        <div th:insert="~{fragments/header :: header}"></div>
        <div class="accordion py-5" id="partsList" style="width:60%; overflow:auto;">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCase" aria-expanded="true" aria-controls="collapseOne">
                Case
              </button>
            </h2>
            <div id="collapseCase" class="accordion-collapse collapse" data-bs-parent="#partsList">
              <div class="accordion-body">
                <form method="get" action="/CusCom/adminPage/editCase">
                  <button class="btn btn-lg btn-primary" type="submit">케이스 데이터 추가</button>
                </form>
                <div class="list-group list-group-flush border-bottom scrollarea" id="case-list">

                </div>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCPUCooler" aria-expanded="true" aria-controls="collapseOne">
                CPUCooler
              </button>
            </h2>
            <div id="collapseCPUCooler" class="accordion-collapse collapse" data-bs-parent="#partsList">
              <div class="accordion-body">
                <form method="get" action="/CusCom/adminPage/editCPUCooler">
                  <button class="btn btn-lg btn-primary" type="submit">CPU 쿨러 데이터 추가</button>
                </form>
                <div class="list-group list-group-flush border-bottom scrollarea" id="cpu-cooler-list">

                </div>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCPU" aria-expanded="true" aria-controls="collapseOne">
                CPU
              </button>
            </h2>
            <div id="collapseCPU" class="accordion-collapse collapse" data-bs-parent="#partsList">
              <div class="accordion-body">
                <form method="get" action="/CusCom/adminPage/editCPU">
                  <button class="btn btn-lg btn-primary" type="submit">CPU 데이터 추가</button>
                </form>
                <div class="list-group list-group-flush border-bottom scrollarea" id="cpu-list">

                </div>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDataStorage" aria-expanded="true" aria-controls="collapseOne">
                DataStorage
              </button>
            </h2>
            <div id="collapseDataStorage" class="accordion-collapse collapse" data-bs-parent="#partsList">
              <div class="accordion-body">
                <form method="get" action="/CusCom/adminPage/editDataStorage">
                  <button class="btn btn-lg btn-primary" type="submit">저장장치 데이터 추가</button>
                </form>
                <div class="list-group list-group-flush border-bottom scrollarea" id="data-storage-list">

                </div>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGraphicsCard" aria-expanded="true" aria-controls="collapseOne">
                GraphicsCard
              </button>
            </h2>
            <div id="collapseGraphicsCard" class="accordion-collapse collapse" data-bs-parent="#partsList">
              <div class="accordion-body">
                <form method="get" action="/CusCom/adminPage/editGraphicsCard">
                  <button class="btn btn-lg btn-primary" type="submit">그래픽카드 데이터 추가</button>
                </form>
                <div class="list-group list-group-flush border-bottom scrollarea" id="graphics-card-list">

                </div>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMemory" aria-expanded="true" aria-controls="collapseOne">
                Memory
              </button>
            </h2>
            <div id="collapseMemory" class="accordion-collapse collapse" data-bs-parent="#partsList">
              <div class="accordion-body">
                <form method="get" action="/CusCom/adminPage/editMemory">
                  <button class="btn btn-lg btn-primary" type="submit">메모리 데이터 추가</button>
                </form>
                <div class="list-group list-group-flush border-bottom scrollarea" id="memory-list">

                </div>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMotherBoard" aria-expanded="true" aria-controls="collapseOne">
                MotherBoard
              </button>
            </h2>
            <div id="collapseMotherBoard" class="accordion-collapse collapse" data-bs-parent="#partsList">
              <div class="accordion-body">
                <form method="get" action="/CusCom/adminPage/editMotherBoard">
                  <button class="btn btn-lg btn-primary" type="submit">마더보드 데이터 추가</button>
                </form>
                <div class="list-group list-group-flush border-bottom scrollarea" id="mother-board-list">

                </div>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePowerSupply" aria-expanded="true" aria-controls="collapseOne">
                PowerSupply
              </button>
            </h2>
            <div id="collapsePowerSupply" class="accordion-collapse collapse" data-bs-parent="#partsList">
              <div class="accordion-body">
                <form method="get" action="/CusCom/adminPage/editPowerSupply">
                  <button class="btn btn-lg btn-primary" type="submit">파워서플라이 데이터 추가</button>
                </form>
                <div class="list-group list-group-flush border-bottom scrollarea" id="power-supply-list">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="my-5 pt-5 text-body-secondary text-center text-small">
        <p class="mb-1">&copy; 2023 CusCom</p>
      </footer>

      <script type="text/javascript">

        function fetchData() {
          const fetchRequests = [
            fetch('/CusCom/API/caseList').then(response => response.json()),
            fetch('/CusCom/API/cpuList').then(response => response.json()),
            fetch('/CusCom/API/cpuCoolerList').then(response => response.json()),
            fetch('/CusCom/API/dataStorageList').then(response => response.json()),
            fetch('/CusCom/API/graphicsCardList').then(response => response.json()),
            fetch('/CusCom/API/memoryList').then(response => response.json()),
            fetch('/CusCom/API/motherBoardList').then(response => response.json()),
            fetch('/CusCom/API/powerSupplyList').then(response => response.json())
          ];

          Promise.all(fetchRequests)
            .then(responses => {
              const caseList = document.getElementById('case-list');
              responses[0].forEach(caseItem => {
                const listItem = document.createElement('a');
                listItem.className = 'list-group-item py-3 lh-sm';
                const listItemContent = `
                  <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">${caseItem.name}</strong>
                    <div class="button-container" style="display: flex; gap: 10px;">
                      <form method="get" action="/CusCom/adminPage/editCase">
                        <input type="hidden" name="CPUCooler" value="${caseItem.name}">
                        <button class="btn btn-primary" type="submit" style="border: none;">edit</button>
                      </form>
                      <button class="btn btn-primary" style="background-color: red; color: white; border: none;" onclick="deleteItem(this)">delete</button>
                     </div>
                  </div>
                  <div>
                    <small class="text-body-secondary">제조사:${caseItem.manufacturer}</small>
                    <small class="text-body-secondary">구분:${caseItem.caseType}</small>
                    <small class="text-body-secondary">높이:${caseItem.height}</small>
                    <small class="text-body-secondary">길이:${caseItem.length}</small>
                    <small class="text-body-secondary">너비:${caseItem.width}</small>
                    <small class="text-body-secondary">최대파워크기:${caseItem.powerLength}</small>
                    <small class="text-body-secondary">최대cpu쿨러크기:${caseItem.cpuCoolerHeight}</small>
                    <small class="text-body-secondary">최대그래픽카드크기:${caseItem.graphicsCardLength}</small>
                  </div>
                `;
                listItem.innerHTML = listItemContent;
                caseList.appendChild(listItem);
              });

              const cpuList = document.getElementById('cpu-list');
              responses[1].forEach(cpuItem => {
                const listItem = document.createElement('a');
                listItem.className = 'list-group-item py-3 lh-sm';
                const listItemContent = `
                  <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">${cpuItem.name}</strong>
                    <div class="button-container" style="display: flex; gap: 10px;">
                      <form method="get" action="/CusCom/adminPage/editCPU">
                        <input type="hidden" name="CPUCooler" value="${cpuItem.name}">
                        <button class="btn btn-primary" type="submit" style="border: none;">edit</button>
                      </form>
                      <button class="btn btn-primary" style="background-color: red; color: white; border: none;" onclick="deleteItem(this)">delete</button>
                    </div>
                  </div>
                  <div>
                    <small class="text-body-secondary">제조사:${cpuItem.manufacturer}</small>
                    <small class="text-body-secondary">소켓:${cpuItem.socket}</small>
                    <small class="text-body-secondary">내장그래픽:${cpuItem.isBuiltInGraphics}</small>
                    <small class="text-body-secondary">코어:${cpuItem.core}</small>
                    <small class="text-body-secondary">스레드:${cpuItem.thread}</small>
                    <small class="text-body-secondary">TDP:${cpuItem.TDP}</small>
                  </div>
                `;
                listItem.innerHTML = listItemContent;
                cpuList.appendChild(listItem);
              });

              const cpuCoolerList = document.getElementById('cpu-cooler-list');
              responses[2].forEach(cpuCoolerItem => {
                const listItem = document.createElement('a');
                listItem.className = 'list-group-item py-3 lh-sm';
                const listItemContent = `
                  <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">${cpuCoolerItem.name}</strong>
                    <div class="button-container" style="display: flex; gap: 10px;">
                      <form method="get" action="/CusCom/adminPage/editCPUCooler">
                        <input type="hidden" name="CPUCooler" value="${cpuCoolerItem.name}">
                        <button class="btn btn-primary" type="submit" style="border: none;">edit</button>
                      </form>
                      <button class="btn btn-primary" style="background-color: red; color: white; border: none;" onclick="deleteItem(this)">delete</button>
                    </div>
                  </div>
                  <div>
                    <small class="text-body-secondary">제조사:${cpuCoolerItem.manufacturer}</small>
                    <small class="text-body-secondary">냉각방식:${cpuCoolerItem.coolingType}</small>
                    <small class="text-body-secondary">높이:${cpuCoolerItem.height}</small>
                    <small class="text-body-secondary">길이:${cpuCoolerItem.length}</small>
                    <small class="text-body-secondary">너비:${cpuCoolerItem.width}</small>
                    <small class="text-body-secondary">TDP:${cpuCoolerItem.TDP}</small>
                  </div>
                `;
                listItem.innerHTML = listItemContent;
                cpuCoolerList.appendChild(listItem);
              });

              const dataStorageList = document.getElementById('data-storage-list');
              responses[3].forEach(dataStorageItem => {
                const listItem = document.createElement('a');
                listItem.className = 'list-group-item py-3 lh-sm';
                const listItemContent = `
                  <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">${dataStorageItem.name}</strong>
                    <div class="button-container" style="display: flex; gap: 10px;">
                      <form method="get" action="/CusCom/adminPage/editDataStorage">
                        <input type="hidden" name="DataStorage" value="${dataStorageItem.name}">
                        <button class="btn btn-primary" type="submit" style="border: none;">edit</button>
                      </form>
                      <button class="btn btn-primary" style="background-color: red; color: white; border: none;" onclick="deleteItem(this)">delete</button>
                    </div>
                  </div>
                  <div>
                    <small class="text-body-secondary">제조사:${dataStorageItem.manufacturer}</small>
                    <small class="text-body-secondary">인터페이스:${dataStorageItem.storageInterface}</small>
                    <small class="text-body-secondary">폼팩터:${dataStorageItem.formFactor}</small>
                    <small class="text-body-secondary">읽기속도:${dataStorageItem.readSpeed}</small>
                    <small class="text-body-secondary">쓰기속도:${dataStorageItem.writeSpeed}</small>
                  </div>
                `;
                listItem.innerHTML = listItemContent;
                dataStorageList.appendChild(listItem);
              });

              const graphicsCardList = document.getElementById('graphics-card-list');
              responses[4].forEach(graphicsCardItem => {
                const listItem = document.createElement('a');
                listItem.className = 'list-group-item py-3 lh-sm';
                const listItemContent = `
                  <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">${graphicsCardItem.name}</strong>
                    <div class="button-container" style="display: flex; gap: 10px;">
                      <form method="get" action="/CusCom/adminPage/editGraphicsCard">
                        <input type="hidden" name="GraphicsCard" value="${graphicsCardItem.name}">
                        <button class="btn btn-primary" type="submit" style="border: none;">edit</button>
                      </form>
                      <button class="btn btn-primary" style="background-color: red; color: white; border: none;" onclick="deleteItem(this)">delete</button>
                    </div>
                  </div>
                  <div>
                    <small class="text-body-secondary">제조사:${graphicsCardItem.manufacturer}</small>
                    <small class="text-body-secondary">GPU:${graphicsCardItem.gpuType}</small>
                    <small class="text-body-secondary">길이:${graphicsCardItem.length}</small>
                    <small class="text-body-secondary">기본전력:${graphicsCardItem.basicPower}</small>
                    <small class="text-body-secondary">최대전력:${graphicsCardItem.writeSpeed}</small>
                  </div>
                `;
                listItem.innerHTML = listItemContent;
                graphicsCardList.appendChild(listItem);
              });

              const memoryList = document.getElementById('memory-list');
              responses[5].forEach(memoryItem => {
                const listItem = document.createElement('a');
                listItem.className = 'list-group-item py-3 lh-sm';
                const listItemContent = `
                  <div class="d-flex w-100 align-items-center justify-content-between">
                      <strong class="mb-1">${memoryItem.name}</strong>
                      <div class="button-container" style="display: flex; gap: 10px;">
                        <form method="get" action="/CusCom/adminPage/editMemory">
                          <input type="hidden" name="Memory" value="${memoryItem.name}">
                          <button class="btn btn-primary" type="submit" style="border: none;">edit</button>
                        </form>
                        <button class="btn btn-primary" style="background-color: red; color: white; border: none;" onclick="deleteItem(this)">delete</button>
                      </div>
                    </div>
                    <div>
                      <small class="text-body-secondary">제조사:${memoryItem.manufacturer}</small>
                      <small class="text-body-secondary">타입:${memoryItem.type}</small>
                      <small class="text-body-secondary">용량:${memoryItem.capacity}</small>
                      <small class="text-body-secondary">높이:${memoryItem.height}</small>
                    </div>
                `;
                listItem.innerHTML = listItemContent;
                memoryList.appendChild(listItem);
              });

              const motherBoardList = document.getElementById('mother-board-list');
              responses[6].forEach(motherBoardItem => {
                const listItem = document.createElement('a');
                listItem.className = 'list-group-item py-3 lh-sm';
                const listItemContent = `
                  <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">${motherBoardItem.name}</strong>
                    <div class="button-container" style="display: flex; gap: 10px;">
                      <form method="get" action="/CusCom/adminPage/editMotherBoard">
                        <input type="hidden" name="MotherBoard" value="${motherBoardItem.name}">
                        <button class="btn btn-primary" type="submit" style="border: none;">edit</button>
                      </form>
                      <button class="btn btn-primary" style="background-color: red; color: white; border: none;" onclick="deleteItem(this)">delete</button>
                    </div>
                  </div>
                  <div>
                    <small class="text-body-secondary">제조사:${motherBoardItem.manufacturer}</small>
                    <small class="text-body-secondary">구분:${motherBoardItem.cpuType}</small>
                    <small class="text-body-secondary">소켓:${motherBoardItem.socket}</small>
                    <small class="text-body-secondary">메모리타입:${motherBoardItem.memoryType}</small>
                    <small class="text-body-secondary">메모리슬롯:${motherBoardItem.memorySlot}</small>
                  </div>
                `;
                listItem.innerHTML = listItemContent;
                motherBoardList.appendChild(listItem);
              });

              const powerSupplyList = document.getElementById('power-supply-list');
              responses[7].forEach(powerSupplyItem => {
                const listItem = document.createElement('a');
                listItem.className = 'list-group-item py-3 lh-sm';
                const listItemContent = `
                  <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">${powerSupplyItem.name}</strong>
                    <div class="button-container" style="display: flex; gap: 10px;">
                      <form method="get" action="/CusCom/adminPage/editPowerSupply">
                        <input type="hidden" name="PowerSupply" value="${powerSupplyItem.name}">
                        <button class="btn btn-primary" type="submit" style="border: none;">edit</button>
                      </form>
                      <button class="btn btn-primary" style="background-color: red; color: white; border: none;" onclick="deleteItem(this)">delete</button>
                    </div>
                  </div>
                  <div>
                    <small class="text-body-secondary">제조사:${powerSupplyItem.manufacturer}</small>
                    <small class="text-body-secondary">모듈러:${powerSupplyItem.modular}</small>
                    <small class="text-body-secondary">크기:${powerSupplyItem.length}</small>
                    <small class="text-body-secondary">전력:${powerSupplyItem.power}</small>
                    <small class="text-body-secondary">효율:${powerSupplyItem.efficiency}</small>
                  </div>
                `;
                listItem.innerHTML = listItemContent;
                powerSupplyList.appendChild(listItem);
              });
            })
            .catch(error => console.error(error));
        }

        window.onload = fetchData;

        document.addEventListener("DOMContentLoaded", function(){
          document.querySelectorAll(".delete-btn")
            .forEach(button => {
              const deleteData = {
                name: button.getAttribute("data-item-id"),
                type: findParentTableId(button)
              };

              button.addEventListener('click', function(){
                const id = button.getAttribute("data-id");
                fetch("/CusCom/adminPage/deleteParts",{
                    method: "POST",
                    headers: {
                      "Content-Type": "application/json"
                    },
                    body: JSON.stringify(data)
                })
                .then(response => console.log(response))
                .then(document.querySelector('tr[data-id="${id}"]').remove())
                .catch(error => {
                    console.error("Error:", error);
                });
              });

            });
        });
      </script>
    </main>
</body>
</html>