<!doctype html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
  <div th:replace="~{fragments/setup :: setup}"/>
</head>
<body>
    <main>
      <div class="container-fluid">
        <div th:insert="~{fragments/header :: header}"></div>

        <div class="accordion py-5" id="partsList" style="width:60%; overflow:auto;">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCase" aria-expanded="true" aria-controls="collapseOne">
                Case
              </button>
            </h2>
            <div id="collapseCase" class="accordion-collapse collapse" data-bs-parent="#partsList">
              <div class="accordion-body">
                <form method="get" action="/CusCom/admin/editCase">
                  <button class="btn btn-lg btn-primary" type="submit">케이스 데이터 추가</button>
                </form>
                <div class="list-group list-group-flush border-bottom scrollarea" id="caseList">

                </div>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCPUCooler" aria-expanded="true" aria-controls="collapseOne">
                CPUCooler
              </button>
            </h2>
            <div id="collapseCPUCooler" class="accordion-collapse collapse" data-bs-parent="#partsList">
              <div class="accordion-body">
                <form method="get" action="/CusCom/admin/editCPUCooler">
                  <button class="btn btn-lg btn-primary" type="submit">CPU 쿨러 데이터 추가</button>
                </form>
                <div class="list-group list-group-flush border-bottom scrollarea" id="cpuCoolerList">

                </div>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCPU" aria-expanded="true" aria-controls="collapseOne">
                CPU
              </button>
            </h2>
            <div id="collapseCPU" class="accordion-collapse collapse" data-bs-parent="#partsList">
              <div class="accordion-body">
                <form method="get" action="/CusCom/admin/editCPU">
                  <button class="btn btn-lg btn-primary" type="submit">CPU 데이터 추가</button>
                </form>
                <div class="list-group list-group-flush border-bottom scrollarea" id="cpuList">

                </div>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDataStorage" aria-expanded="true" aria-controls="collapseOne">
                DataStorage
              </button>
            </h2>
            <div id="collapseDataStorage" class="accordion-collapse collapse" data-bs-parent="#partsList">
              <div class="accordion-body">
                <form method="get" action="/CusCom/admin/editDataStorage">
                  <button class="btn btn-lg btn-primary" type="submit">저장장치 데이터 추가</button>
                </form>
                <div class="list-group list-group-flush border-bottom scrollarea" id="dataStorageList">

                </div>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGraphicsCard" aria-expanded="true" aria-controls="collapseOne">
                GraphicsCard
              </button>
            </h2>
            <div id="collapseGraphicsCard" class="accordion-collapse collapse" data-bs-parent="#partsList">
              <div class="accordion-body">
                <form method="get" action="/CusCom/admin/editGraphicsCard">
                  <button class="btn btn-lg btn-primary" type="submit">그래픽카드 데이터 추가</button>
                </form>
                <div class="list-group list-group-flush border-bottom scrollarea" id="graphicsCardList">

                </div>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMemory" aria-expanded="true" aria-controls="collapseOne">
                Memory
              </button>
            </h2>
            <div id="collapseMemory" class="accordion-collapse collapse" data-bs-parent="#partsList">
              <div class="accordion-body">
                <form method="get" action="/CusCom/admin/editMemory">
                  <button class="btn btn-lg btn-primary" type="submit">메모리 데이터 추가</button>
                </form>
                <div class="list-group list-group-flush border-bottom scrollarea" id="memoryList">

                </div>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMotherBoard" aria-expanded="true" aria-controls="collapseOne">
                MotherBoard
              </button>
            </h2>
            <div id="collapseMotherBoard" class="accordion-collapse collapse" data-bs-parent="#partsList">
              <div class="accordion-body">
                <form method="get" action="/CusCom/admin/editMotherBoard">
                  <button class="btn btn-lg btn-primary" type="submit">마더보드 데이터 추가</button>
                </form>
                <div class="list-group list-group-flush border-bottom scrollarea" id="motherBoardList">

                </div>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePowerSupply" aria-expanded="true" aria-controls="collapseOne">
                PowerSupply
              </button>
            </h2>
            <div id="collapsePowerSupply" class="accordion-collapse collapse" data-bs-parent="#partsList">
              <div class="accordion-body">
                <form method="get" action="/CusCom/admin/editPowerSupply">
                  <button class="btn btn-lg btn-primary" type="submit">파워서플라이 데이터 추가</button>
                </form>
                <div class="list-group list-group-flush border-bottom scrollarea" id="powerSupplyList">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="my-5 pt-5 text-body-secondary text-center text-small">
        <p class="mb-1">&copy; 2023 CusCom</p>
      </footer>

      <script src="/js/adminCheck.js"></script>
      <script src="/js/partsListAdmin.js"></script>
    </main>
</body>
</html>