<!doctype html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <div th:replace="~{fragments/setup :: setup}"/>
</head>
<body>
<main>
    <div class="container-fluid">
        <div th:insert="~{fragments/header :: header}"></div>

        <div class="row">
            <div class="col-md-5 col-lg-4 py-5 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text">적합도</span>
                </h4>
                <div>
                    <canvas id="estimateChart"></canvas>
                </div>
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text">현재 견적</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <small class="text-body-secondary">케이스</small>
                            <h6 class="my-0" id="caseH6">미선택</h6>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <small class="text-body-secondary">CPU 쿨러</small>
                            <h6 class="my-0" id="cpuCoolerH6">미선택</h6>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <small class="text-body-secondary">CPU</small>
                            <h6 class="my-0" id="cpuH6">미선택</h6>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <small class="text-body-secondary">저장장치</small>
                            <h6 class="my-0" id="dataStorageH6">미선택</h6>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <small class="text-body-secondary">그래픽카드</small>
                            <h6 class="my-0" id="graphicsCardH6">미선택</h6>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <small class="text-body-secondary">메모리</small>
                            <h6 class="my-0" id="memoryH6">미선택</h6>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <small class="text-body-secondary">메인보드</small>
                            <h6 class="my-0" id="motherBoardH6">미선택</h6>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <small class="text-body-secondary">파워서플라이</small>
                            <h6 class="my-0" id="powerSupplyH6">미선택</h6>
                        </div>
                    </li>
                </ul>
                <div>
                    <button type="submit" class="btn btn-primary" id="submitEstimate">견적 저장</button>
                    <button type="submit" class="btn btn-secondary" id="cancel">취소</button>
                </div>
            </div>

            <div class="accordion py-5" id="partsList" style="width:60%; overflow:auto;">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCase" aria-expanded="true" aria-controls="collapseOne">
                            Case
                        </button>
                    </h2>
                    <div id="collapseCase" class="accordion-collapse collapse show" data-bs-parent="#partsList">
                        <div class="accordion-body">
                            <div class="list-group list-group-flush border-bottom scrollarea" id="caseList">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCPUCooler" aria-expanded="true" aria-controls="collapseOne">
                            CPUCooler
                        </button>
                    </h2>
                    <div id="collapseCPUCooler" class="accordion-collapse collapse" data-bs-parent="#partsList">
                        <div class="accordion-body">
                            <div class="list-group list-group-flush border-bottom scrollarea" id="cpuCoolerList">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCPU" aria-expanded="true" aria-controls="collapseOne">
                            CPU
                        </button>
                    </h2>
                    <div id="collapseCPU" class="accordion-collapse collapse" data-bs-parent="#partsList">
                        <div class="accordion-body">
                            <div class="list-group list-group-flush border-bottom scrollarea" id="cpuList">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDataStorage" aria-expanded="true" aria-controls="collapseOne">
                            DataStorage
                        </button>
                    </h2>
                    <div id="collapseDataStorage" class="accordion-collapse collapse" data-bs-parent="#partsList">
                        <div class="accordion-body">
                            <div class="list-group list-group-flush border-bottom scrollarea" id="dataStorageList">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGraphicsCard" aria-expanded="true" aria-controls="collapseOne">
                            GraphicsCard
                        </button>
                    </h2>
                    <div id="collapseGraphicsCard" class="accordion-collapse collapse" data-bs-parent="#partsList">
                        <div class="accordion-body">
                            <div class="list-group list-group-flush border-bottom scrollarea" id="graphicsCardList">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMemory" aria-expanded="true" aria-controls="collapseOne">
                            Memory
                        </button>
                    </h2>
                    <div id="collapseMemory" class="accordion-collapse collapse" data-bs-parent="#partsList">
                        <div class="accordion-body">
                            <div class="list-group list-group-flush border-bottom scrollarea" id="memoryList">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMotherBoard" aria-expanded="true" aria-controls="collapseOne">
                            MotherBoard
                        </button>
                    </h2>
                    <div id="collapseMotherBoard" class="accordion-collapse collapse" data-bs-parent="#partsList">
                        <div class="accordion-body">
                            <div class="list-group list-group-flush border-bottom scrollarea" id="motherBoardList">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePowerSupply" aria-expanded="true" aria-controls="collapseOne">
                            PowerSupply
                        </button>
                    </h2>
                    <div id="collapsePowerSupply" class="accordion-collapse collapse" data-bs-parent="#partsList">
                        <div class="accordion-body">
                            <div class="list-group list-group-flush border-bottom scrollarea" id="powerSupplyList">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
<footer class="my-5 pt-5 text-body-secondary text-center text-small">
    <p class="mb-1">&copy; 2023 CusCom</p>
</footer>
<script src="/js/partsListUser.js"></script>
</body>
</html>