<!doctype html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark" >
<head>
  <div th:replace="~{fragments/setup :: setup}"/>
</head>
<body>
  <div th:insert="~{fragments/header :: header}"></div>

  <main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="row-gap-5 col-lg-6 col-md-8 mx-auto">
          <div>
            <h1>견적 게시판</h1>
            <form class="d-flex" role="search">
              <div class="dropdown" id="option">
                <a class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  제목
                </a>
                <ul class="dropdown-menu">
                  <li><a value="title" class="dropdown-item">제목</a></li>
                  <li><a value="tags" class="dropdown-item">태그</a></li>
                  <li><a value="userName" class="dropdown-item">작성자</a></li>
                  <li><a value="parts" class="dropdown-item">부품명</a></li>
                </ul>
              </div>
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="keyword">
              <button class="btn btn-outline-success" type="submit" id="search">Search</button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
      <h3 class="text-center" id="searchResultText"></h3>
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="postList">

        </div>
      </div>

      <div class="row-gap-5">
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">

          </ul>
        </nav>
      </div>
    </div>
  </main>
</body>
<footer class="text-body-secondary py-5">
  <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
</footer>
<script type="text/javascript">
    const queryParams = new URLSearchParams(window.location.search);
    let searchOption = queryParams.get("option") || "title";
    let searchData = queryParams.get("keyword");
    let currentPage = queryParams.get("page") || 1;
    let searchJson = null;

    function fetchPage(){
        const queryParams = new URLSearchParams();
        if(searchOption!=null&&searchData!=null){
            queryParams.append("searchJSON",JSON.stringify({ option: searchOption, keyword: searchData }));
        }
        queryParams.append("maxContent",9);
        queryParams.append("currentPage",currentPage);

        fetch(`/CusCom/API/loadPostList?${queryParams.toString()}`)
        .then(response => response.json())
        .then(data => {
          const postList = document.getElementById('postList');
          const posts = data["postList"];
          const pageCount = data["pageCount"];
          currentPage = data["page"];

          if(searchData!=null){
            const searchResultText = document.getElementById('searchResultText')
            searchResultText.innerText=searchData+" 검색 결과";
            searchResultText.style.textAlign = "center";
          }

          posts.forEach((post, postIndex) => {
            const postCard = document.createElement('div');
            postCard.classList.add('col');
            postCard.innerHTML = `
              <div class="card shadow-sm" id="postCard" data-post-id="${postIndex}">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                  <title>Placeholder</title>
                  <rect width="100%" height="100%" fill="#55595c"/>
                  <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                </svg>
                <div class="card-body">
                  <h3>${post.title}</h3>
                  <p class="card-text">${post.userName}</p>
                  <small>${post.tags.length > 0 ? post.tags.map(tag=>`#${tag}`).join(' ') : '태그 없음'}</small>
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <small class="text-body-secondary">조회수: ${post.viewCount}</small>
                      <small class="text-body-secondary">추천수: ${post.likeCount}</small>
                    </div>
                  </div>
                </div>
              </div>
            `;
            postCard.addEventListener('click',()=>{
              window.location.href=`/CusCom/SharePlace/post?id=${post._id}`;
            });
            postList.appendChild(postCard);
          });

          const pagination = document.querySelector('.pagination');
          const previousPageLink = document.createElement('li');
          previousPageLink.classList.add('page-item', 'disabled');
          previousPageLink.innerHTML = '<span class="page-link">Previous</span>';
          pagination.appendChild(previousPageLink);

          for (let page = 1; page <= pageCount; page++) {
            const pageLink = document.createElement('li');
            pageLink.classList.add('page-item');
            if (page === currentPage) {
              console.log(page);
              pageLink.innerHTML = `
                <li class="page-item active" aria-current="page">
                  <span class="page-link">${page}</span>
                </li>
              `;
            }else{
              pageLink.innerHTML = `<a class="page-link" href="#">${page}</a>`;
            }
            pagination.appendChild(pageLink);
          }

          const nextPageLink = document.createElement('li');
          nextPageLink.classList.add('page-item');
          nextPageLink.innerHTML = '<a class="page-link" href="#">Next</a>';
          pagination.appendChild(nextPageLink);
        })
        .catch(error => console.error('Error fetching data:', error));
    }

    window.addEventListener('load', function(){ fetchPage(); });

    document.querySelectorAll('.dropdown-item').forEach(item => {
      item.addEventListener('click', function() {
        searchOption = this.getAttribute('value');
        document.querySelector('.dropdown-toggle').textContent=this.textContent;
      });
    });

    document.getElementById('search').addEventListener('click', function(event) {
      event.preventDefault();
      searchData = document.getElementById('keyword').value;
      const queryParams = new URLSearchParams();
      queryParams.set("option", searchOption);
      queryParams.set("keyword", searchData);
      window.location.href = `/CusCom/SharePlace?${queryParams.toString()}`;
    });

    </script>
</html>