<!doctype html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
  <div th:replace="~{fragments/setup :: setup}"/>
</head>
<body>
    <main>
        <div th:insert="~{fragments/header :: header}"></div>
        <div class="container-fluid">
            <div class="py-5 text-center">
              <h2>마이 페이지</h2>
            </div>

            <div id="admin-area">

            </div>

            <div class="list-group list-group-flush border-bottom scrollarea" id="estimate-list">

            </div>

        </div>
        <footer class="my-5 pt-5 text-body-secondary text-center text-small">
            <p class="mb-1">&copy; 2023 CusCom</p>
        </footer>

        <script src="/js/userPage.js"></script>
    </main>
</body>
</html>