<!doctype html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
  <div th:replace="~{fragments/setup :: setup}"/>
</head>
<body class="bg-body-tertiary">
  <main>
    <div th:insert="~{fragments/header :: header}"></div>

    <div class="container py-5">
        <div class="row g-5">
          <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary order-md-last" style="width: 400px;">
            <h4 class="fs-5 fw-semibold">댓글</h4>
            <div class="py-2">
              <textarea class="form-control" id="commentInputContent" rows="5"></textarea>
              <button class="btn btn-primary" type="submit" id="confirmComment">작성</button>
            </div>
            <div class="list-group list-group-flush border-bottom scrollarea" id="comments">

            </div>
          </div>

          <div class="col-md-7 col-lg-8">
            <form>
              <h4 id="postTitle">제목</h4>
              <p id="postUserName">작성자</p>
              <small class="text-body-secondary" id="postTags">태그</small>
              <div>
                <small class="text-body-secondary" id="postViewCount">조회수</small>
                <small class="text-body-secondary" id="postLikeCount">추천수</small>
              </div>

              <hr class="my-4">

              <div class="col-5">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                  <span class="text">견적</span>
                </h4>
                <ul class="list-group mb-3">
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <small class="text-body-secondary">케이스</small>
                      <h6 class="my-0" id="caseH6">미선택</h6>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <small class="text-body-secondary">CPU 쿨러</small>
                      <h6 class="my-0" id="cpuCoolerH6">미선택</h6>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <small class="text-body-secondary">CPU</small>
                      <h6 class="my-0" id="cpuH6">미선택</h6>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <small class="text-body-secondary">저장장치</small>
                      <h6 class="my-0" id="dataStorageH6">미선택</h6>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <small class="text-body-secondary">그래픽카드</small>
                      <h6 class="my-0" id="graphicsCardH6">미선택</h6>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <small class="text-body-secondary">메모리</small>
                      <h6 class="my-0" id="memoryH6">미선택</h6>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <small class="text-body-secondary">메인보드</small>
                      <h6 class="my-0" id="motherBoardH6">미선택</h6>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <small class="text-body-secondary">파워서플라이</small>
                      <h6 class="my-0" id="powerSupplyH6">미선택</h6>
                    </div>
                  </li>
                </ul>
              </div>

              <hr class="my-4">
            </form>
          </div>
        </div>
    </div>
    <script src="/js/viewPost.js"></script>
  </main>
  <footer class="py-5 text-body-secondary text-center text-small">
    <p class="mb-1">&copy; 2023 CusCom</p>
  </footer>
</body>
</html>