<!doctype html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
  <div th:replace="~{fragments/setup :: setup}"/>
</head>
<body class="bg-body-tertiary">
  <main>
    <div th:insert="~{fragments/header :: header}"></div>

    <div class="container py-5">
        <div class="row g-5">
          <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary order-md-last" style="width: 400px;">
            <h4 class="fs-5 fw-semibold">댓글</h4>
            <div class="py-2">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
              <button class="btn btn-primary" type="submit">작성</button>
            </div>
            <div class="list-group list-group-flush border-bottom scrollarea" th:each="comment : ${commentList}">
              <a href="#" class="list-group-item list-group-item-action active py-3 lh-sm" aria-current="true">
                <div class="d-flex w-100 align-items-center justify-content-between">
                  <strong class="mb-1" th:text="${comment.userName}">List group item heading</strong>
                </div>
                <div class="col-10 mb-1 small" th:text="${comment.content}">Some placeholder content in a paragraph below the heading and date.</div>
              </a>
            </div>
          </div>

          <div class="col-md-7 col-lg-8">
            <form>
              <h4 th:text="${post.title}">제목</h4>
              <p th:text="${post.userName}">작성자</p>
              <small class="text-body-secondary" th:text="${post.tags}">태그</small>
              <small class="text-body-secondary" th:text="${post.viewCount}">조회수</small>

              <hr class="my-4">

              <div class="col-md-5">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                  <span class="text">견적</span>
                </h4>
                <ul class="list-group mb-3">
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <h6 class="my-0">케이스</h6>
                      <small class="text-body-secondary" value="${post.case}">부품명</small>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <h6 class="my-0">CPU 쿨러</h6>
                      <small class="text-body-secondary" value="${post.cpuCooler}">부품명</small>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <h6 class="my-0">CPU</h6>
                      <small class="text-body-secondary" value="${post.cpu}">부품명</small>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <h6 class="my-0">저장장치</h6>
                      <small class="text-body-secondary" value="${post.dataStorage}">부품명</small>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <h6 class="my-0">그래픽카드</h6>
                      <small class="text-body-secondary" value="${post.graphicsCard}">부품명</small>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <h6 class="my-0">메모리</h6>
                      <small class="text-body-secondary" value="${post.memory}">부품명</small>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <h6 class="my-0">메인보드</h6>
                      <small class="text-body-secondary" value="${post.motherBoard}">부품명</small>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                      <h6 class="my-0">파워서플라이</h6>
                      <small class="text-body-secondary" value="${post.powerSupply}">부품명</small>
                    </div>
                  </li>
                </ul>
              </div>

              <div>
                <p>내용</p>
              </div>

              <hr class="my-4">
            </form>
          </div>
        </div>
    </div>
    <script type="text/javascript">

    </script>
  </main>
  <footer class="py-5 text-body-secondary text-center text-small">
    <p class="mb-1">&copy; 2023 CusCom</p>
  </footer>
</body>
</html>