<!doctype html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
  <div th:replace="~{fragments/setup :: setup}"/>
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
  <div class="container">
    <main class="m-auto">
      <div class="py-5 text-center">
        <h2>CPU 쿨러 데이터 등록 페이지</h2>
      </div>

      <div class="row g-5">
        <div>
          <form>
            <div class="row g-4">
              <div class="col-6">
                <label for="name" class="form-label">이름</label>
                <input type="text" class="form-control" id="name" placeholder="">
              </div>

              <div class="col-6">
                <label for="manufacturer" class="form-label">제조사</label>
                <input type="text" class="form-control" id="manufacturer" placeholder="">
              </div>

              <div class="col-4">
                <label for="height" class="form-label">높이</label>
                <input type="number" class="form-control" id="height" placeholder="">
              </div>

              <div class="col-4">
                <label for="length" class="form-label">길이</label>
                <input type="number" class="form-control" id="length" placeholder="">
              </div>

              <div class="col-4">
                <label for="width" class="form-label">너비</label>
                <input type="number" class="form-control" id="width" placeholder="">
              </div>

              <div class="col-6">
                <label for="TDP" class="form-label">TDP</label>
                <input type="number" class="form-control" id="TDP" placeholder="">
              </div>

              <hr class="my-4">

              <div class="row g-4">
                <div class="col-8">
                  <label for="coolingType" class="form-label">쿨링 타입</label>
                  <select class="form-select" aria-label="Default select example" id="coolingType">
                    <option value="공랭">공랭</option>
                    <option value="수랭">수랭</option>
                  </select>
                </div>

                <div class="col-8">
                  <label for="coolerForm" class="form-label">쿨러 형태</label>
                  <select class="form-select" aria-label="Default select example" id="coolerForm">
                    <option value="타워">타워</option>
                    <option value="탑플로우">탑플로우</option>
                    <option value="240">240(수랭)</option>
                    <option value="280">280(수랭)</option>
                    <option value="360">360(수랭)</option>
                    <option value="420">420(수랭)</option>
                    <option value="480">480(수랭)</option>
                  </select>
                </div>
              </div>

              <hr class="my-4">

              <div class="col-9">
                <label for="imageFile">부품 이미지</label>
                <input type="file" class="form-control" id="imageFile">
              </div>
            </div>

            <hr class="my-4">
          </form>
          <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary btn-lg" type="submit" id="confirm">데이터 등록</button>
            <button class="btn btn-secondary btn-lg" type="submit" id="cancel">취소</button>
          </div>
        </div>
      </div>
    </main>

    <footer class="py-5 text-body-secondary text-center text-small">
      <p class="mb-1">&copy; 2023 CusCom</p>
    </footer>
  </div>
  <script type="text/javascript">

    let firstCreate = false;

    function initialSetup(){
      fetch('/CusCom/API/searchCPUCooler')
        .then(response => response.json())
        .then(data => {
          document.getElementById('name').value = data.name;
          document.getElementById('manufacturer').value = data.manufacturer;
          document.getElementById('coolingType').value = data.socket;
          document.getElementById('coolerForm').value = data.memoryType;
          document.getElementById('height').value = data.core;
          document.getElementById('length').value = data.thread;
          document.getElementById('width').value = data.isBuiltInGraphics;
          document.getElementById('TDP').value = data.TDP;
          firstCreate = (data.name === "");
        })
    }

    window.onload = initialSetup;

    document.getElementById('confirm')
            .addEventListener('click',function(event){
              const CPUCooler = {
                name: document.getElementById('name').value,
                manufacturer: document.getElementById('manufacturer').value,
                coolingType: document.getElementById('coolingType').value,
                coolerForm: document.getElementById('coolerForm').value,
                height: document.getElementById('height').value,
                length: document.getElementById('length').value,
                width: document.getElementById('width').value,
                TDP: document.getElementById('TDP').value
              };

              var formData = new FormData();
              formData.append('Type', 'CPUCooler');
              formData.append('Data', JSON.stringify(CPUCooler));
              formData.append('Image', document.getElementById('imageFile').files[0]);

              if(firstCreate){
                fetch("/CusCom/adminAPI/createParts", {
                    method: "POST",
                    body: formData
                })
                .then(response => console.log(response))
                .catch(error => {
                    console.error("Error:", error);
                });
              }
              else{
                fetch("/CusCom/adminAPI/updateParts", {
                    method: "POST",
                    body: formData
                })
                .then(response => console.log(response))
                .catch(error => {
                    console.error("Error:", error);
                });
              }

              window.location.href='/CusCom/adminPage/main';
            });

    document.getElementById('cancel')
            .addEventListener('click',function(event){
                history.go(-1);
            });
  </script>
</body>
</html>