<!doctype html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
  <div th:replace="~{fragments/setup :: setup}"/>
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
  <div class="container">
    <main class="m-auto">
      <div class="py-5 text-center">
        <h2>마더보드 데이터 등록 페이지</h2>
      </div>

      <div class="row g-5">
        <div>
          <form>
            <div class="row g-4">
              <div class="col-6">
                <label for="name" class="form-label">이름</label>
                <input type="text" class="form-control" id="name" placeholder="">
              </div>

              <div class="col-6">
                <label for="manufacturer" class="form-label">제조사</label>
                <input type="text" class="form-control" id="manufacturer" placeholder="">
              </div>

              <div class="col-9">
                <label for="cpuType" class="form-label">구분</label>
                <select class="form-select" aria-label="Default select example" id="cpuType">
                  <option value="Intel">Intel</option>
                  <option value="AMD">AMD</option>
                </select>
              </div>

              <div class="col-6">
                <label for="chipset" class="form-label">소켓</label>
                <select class="form-select" aria-label="Default select example" id="socket">
                  <option value="AM5">AM5</option>
                  <option value="AM4">AM4</option>
                  <option value="LGA1700">LGA1700</option>
                  <option value="LGA1200">LGA1200</option>
                </select>
              </div>

              <div class="col-6">
                <label for="manufacturer" class="form-label">칩셋</label>
                <input type="text" class="form-control" id="chipset" placeholder="">
              </div>

              <div class="col-9">
                <label for="motherBoardFormFactor" class="form-label">최대 마더보드 호환성</label>
                <select class="form-select" aria-label="Default select example" id="motherBoardFormFactor">
                  <option value="ATX">ATX</option>
                  <option value="M-ATX">M-ATX</option>
                  <option value="E-ATX">E-ATX</option>
                </select>
              </div>

              <div class="col-9">
                <label for="memoryType" class="form-label">메모리 타입</label>
                <select class="form-select" aria-label="Default select example" id="memoryType">
                  <option value="DDR5">DDR5</option>
                  <option value="DDR4">DDR4</option>
                </select>
              </div>

              <div class="col-9">
                <label for="memorySlot" class="form-label">메모리 슬롯 개수</label>
                <select class="form-select" aria-label="Default select example" id="memorySlot">
                  <option value="4">4</option>
                  <option value="2">2</option>
                </select>
              </div>

              <div class="col-4">
                <label for="ssdM2Slot" class="form-label">SSD 슬롯 개수(M.2)</label>
                <input type="number" class="form-control" id="ssdM2Slot" placeholder="">
              </div>

              <div class="col-4">
                <label for="ssdSATASlot" class="form-label">SSD 슬롯 개수(SATA)</label>
                <input type="number" class="form-control" id="ssdSATASlot" placeholder="">
              </div>
            </div>

            <hr class="my-4">

            <div class="row g-4">
              <div class="col-9">
                <label for="imageFile">부품 이미지</label>
                <input type="file" class="form-control" id="imageFile">
              </div>
            </div>

            <hr class="my-4">
          </form>
          <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary btn-lg" type="submit" id="confirm">데이터 등록</button>
            <button class="btn btn-secondary btn-lg" type="submit" id="cancel">취소</button>
          </div>
        </div>
      </div>
    </main>

    <footer class="py-5 text-body-secondary text-center text-small">
      <p class="mb-1">&copy; 2023 CusCom</p>
    </footer>
  </div>
  <script type="text/javascript">

    const queryParams = new URLSearchParams(window.location.search);
    const queryData = queryParams.get("MotherBoard");
    let firstCreate = false;
    let beforeID = null;

    function initialSetup(){
      fetch(`/CusCom/API/searchMotherBoard${queryData !== null ? `?MotherBoard=${queryData}` : ''}`)
        .then(response => response.json())
        .then(data => {
          document.getElementById('name').value = data.name;
          document.getElementById('manufacturer').value = data.manufacturer;
          document.getElementById('cpuType').value = data.cpuType;
          document.getElementById('socket').value = data.socket;
          document.getElementById('chipset').value = data.chipset;
          document.getElementById('motherBoardFormFactor').value = data.motherBoardFormFactor.name;
          document.getElementById('memoryType').value = data.memoryType;
          document.getElementById('memorySlot').value = data.memorySlot;
          document.getElementById('ssdM2Slot').value = data.ssdM2Slot;
          document.getElementById('ssdSATASlot').value = data.ssdSATASlot;
          firstCreate = (data.name === "");
          beforeID = data.id;
        })
    }

    window.onload = initialSetup;

    document.getElementById('confirm')
            .addEventListener('click',function(event){
              const MotherBoard = {
                name: document.getElementById('name').value,
                manufacturer: document.getElementById('manufacturer').value,
                cpuType: document.getElementById('cpuType').value,
                socket: document.getElementById('socket').value,
                chipset: document.getElementById('chipset').value,
                motherBoardFormFactor: document.getElementById('motherBoardFormFactor').value,
                memoryType: document.getElementById('memoryType').value,
                memorySlot: document.getElementById('memorySlot').value,
                ssdM2Slot: document.getElementById('ssdM2Slot').value,
                ssdSATASlot: document.getElementById('ssdSATASlot').value,
              };

              var formData = new FormData();
              formData.append('Type', 'MotherBoard');
              formData.append('Data', JSON.stringify(MotherBoard));
              formData.append('Image', document.getElementById('imageFile').files[0]);

              if(firstCreate){
                fetch("/CusCom/adminAPI/createParts", {
                    method: "POST",
                    body: formData
                })
                .then(response =>
                    if(response.ok){ window.location.href='/CusCom/adminPage/main'; }
                    else { return response.json(); }
                )
                .then(data => {
                    alert("Error: " + data.message);
                })
                .catch(error => {
                    console.error("Error:", error);
                });
              }
              else{
                formData.append('BeforeID', beforeID);
                fetch("/CusCom/adminAPI/updateParts", {
                    method: "POST",
                    body: formData
                })
                .then(response =>
                    if(response.ok){ window.location.href='/CusCom/adminPage/main'; }
                    else { return response.json(); }
                )
                .then(data => {
                    alert("Error: " + data.message);
                })
                .catch(error => {
                    console.error("Error:", error);
                });
              }
            });

    document.getElementById('cancel')
            .addEventListener('click',function(event){
                history.go(-1);
            });
  </script>
</body>
</html>