<!doctype html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
  <div th:replace="~{fragments/setup :: setup}"/>
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
  <div class="container">
    <main class="m-auto">
      <div class="py-5 text-center">
        <h2>메모리 데이터 등록 페이지</h2>
      </div>

      <div class="row g-5">
        <div>
          <form>
            <div class="row g-4">
              <div class="col-6">
                <label for="name" class="form-label">이름</label>
                <input type="text" class="form-control" id="name" placeholder="" value="${item.name}">
              </div>

              <div class="col-6">
                <label for="manufacturer" class="form-label">제조사</label>
                <input type="text" class="form-control" id="manufacturer" placeholder="" value="${item.manufacturer}">
              </div>

              <div class="col-9">
                <label for="type" class="form-label">타입</label>
                <select class="form-select" aria-label="Default select example" id="type">
                  <option value="DDR3" th:selected="${item.type == 'DDR5'}">DDR3</option>
                  <option value="DDR4" th:selected="${item.type == 'DDR5'}">DDR4</option>
                  <option value="DDR5" th:selected="${item.type == 'DDR5'}">DDR5</option>
                </select>
              </div>

              <div class="col-4">
                <label for="capacity" class="form-label">용량</label>
                <input type="number" class="form-control" id="capacity" placeholder="" value="${item.capacity}">
              </div>

              <div class="col-4">
                <label for="height" class="form-label">높이</label>
                <input type="number" class="form-control" id="height" placeholder="" value="${item.height}">
              </div>
            </div>

            <hr class="my-4">

            <div class="row g-4">

              <div class="col-9">
                <label for="imageFile">부품 이미지</label>
                <input type="file" class="form-control" id="imageFile">
              </div>
            </div>

            <hr class="my-4">
          </form>
          <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary btn-lg" type="submit" id="confirm">데이터 등록</button>
            <button class="btn btn-secondary btn-lg" type="submit" id="cancel">취소</button>
          </div>
        </div>
      </div>
    </main>

    <footer class="py-5 text-body-secondary text-center text-small">
      <p class="mb-1">&copy; 2023 CusCom</p>
    </footer>
  </div>
  <script type="text/javascript">

    document.getElementById('confirm')
            .addEventListener('click',function(event){
              const Memory = {
                name: document.getElementById('name').value,
                manufacturer: document.getElementById('manufacturer').value,
                type: document.getElementById('type').value,
                capacity: document.getElementById('capacity').value,
                height: document.getElementById('height').value
              };

              var formData = new FormData();
              formData.append('Type', 'Memory');
              formData.append('Data', JSON.stringify(Memory));
              formData.append('Image', document.getElementById('imageFile').files[0]);

              if([[${firstCreate}]]){
                fetch("/CusCom/adminPage/createParts", {
                    method: "POST",
                    body: formData
                })
                .then(response => console.log(response))
                .catch(error => {
                    console.error("Error:", error);
                });
              }
              else{
                fetch("/CusCom/adminPage/updateParts", {
                    method: "POST",
                    body: formData
                })
                .then(response => console.log(response))
                .catch(error => {
                    console.error("Error:", error);
                });
              }

              window.location.href='/CusCom/adminPage/main';
            });

    document.getElementById('cancel')
            .addEventListener('click',function(event){
                history.go(-1);
            });
  </script>
</body>
</html>