<!doctype html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
  <div th:replace="~{fragments/setup :: setup}"/>
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
  <div class="container">
    <main class="m-auto">
      <div class="py-5 text-center">
        <h2>파워서플라이 데이터 등록 페이지</h2>
      </div>

      <div class="row g-5">
        <div>
          <form>
            <div class="row g-4">
              <div class="col-6">
                <label for="name" class="form-label">이름</label>
                <input type="text" class="form-control" id="name" placeholder="">
              </div>

              <div class="col-6">
                <label for="manufacturer" class="form-label">제조사</label>
                <input type="text" class="form-control" id="manufacturer" placeholder="">
              </div>

              <div class="col-4">
                <label for="power" class="form-label">전력</label>
                <input type="number" class="form-control" id="power" placeholder="">
              </div>

              <div class="col-8">
                <label for="efficiency" class="form-label">80PLUS 효율</label>
                <select class="form-select" aria-label="Default select example" id="efficiency">
                  <option value="TITANIUM">TITANIUM</option>
                  <option value="PLATINUM">PLATINUM</option>
                  <option value="GOLD">GOLD</option>
                  <option value="SILVER">SILVER</option>
                  <option value="BRONZE">BRONZE</option>
                  <option value="NONE">NONE</option>
                </select>
              </div>

              <div class="col-9">
                <label for="modular" class="form-label">모듈러</label>
                <select class="form-select" aria-label="Default select example" id="modular">
                  <option value="풀모듈러">풀모듈러</option>
                  <option value="세미모듈러">세미모듈러</option>
                  <option value="논모듈러">논모듈러</option>
                </select>
              </div>

              <div class="col-4">
                <label for="length" class="form-label">폼팩터(크기)</label>
                <input type="number" class="form-control" id="length" placeholder="">
              </div>
            </div>

            <hr class="my-4">

            <div class="row g-4">
              <div class="col-9">
                <label for="imageFile">부품 이미지</label>
                <input type="file" class="form-control" id="imageFile">
              </div>
            </div>

            <hr class="my-4">
          </form>
          <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary btn-lg" type="submit" id="confirm">데이터 등록</button>
            <button class="btn btn-secondary btn-lg" type="submit" id="cancel">취소</button>
          </div>
        </div>
      </div>
    </main>

    <footer class="py-5 text-body-secondary text-center text-small">
      <p class="mb-1">&copy; 2023 CusCom</p>
    </footer>
  </div>
  <script type="text/javascript">

    const queryParams = new URLSearchParams(window.location.search);
    const queryData = queryParams.get("PowerSupply");
    let firstCreate = false;

    function initialSetup(){
      fetch(`/CusCom/API/searchPowerSupply${queryData !== null ? `?PowerSupply=${queryData}` : ''}`)
        .then(response => response.json())
        .then(data => {
          document.getElementById('name').value = data.name;
          document.getElementById('manufacturer').value = data.manufacturer;
          document.getElementById('power').value = data.power;
          document.getElementById('efficiency').value = data.efficiency;
          document.getElementById('modular').value = data.modular;
          document.getElementById('length').value = data.length;
          firstCreate = (data.name === "");
        })
    }

    window.onload = initialSetup;

    document.getElementById('confirm')
            .addEventListener('click',function(event){
              const PowerSupply = {
                name: document.getElementById('name').value,
                manufacturer: document.getElementById('manufacturer').value,
                power: document.getElementById('power').value,
                efficiency: document.getElementById('efficiency').value,
                modular: document.getElementById('modular').value,
                length: document.getElementById('length').value
              };

              var formData = new FormData();
              formData.append('Type', 'PowerSupply');
              formData.append('Data', JSON.stringify(PowerSupply));
              formData.append('Image', document.getElementById('imageFile').files[0]);

              if(firstCreate){
                fetch("/CusCom/adminAPI/createParts", {
                    method: "POST",
                    body: formData
                })
                .then(response => console.log(response))
                .catch(error => {
                    console.error("Error:", error);
                });
              }
              else{
                fetch("/CusCom/adminAPI/updateParts", {
                    method: "POST",
                    body: formData
                })
                .then(response => console.log(response))
                .catch(error => {
                    console.error("Error:", error);
                });
              }

              window.location.href='/CusCom/adminPage/main';
            });

    document.getElementById('cancel')
            .addEventListener('click',function(event){
                history.go(-1);
            });
  </script>
</body>
</html>