<!doctype html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
  <div th:replace="~{fragments/setup :: setup}"/>
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
  <div class="container">
    <main class="m-auto">
      <div class="py-5 text-center">
        <h2>저장장치 데이터 등록 페이지</h2>
      </div>

      <div class="row g-5">
        <div>
          <form>
            <div class="row g-4">
              <div class="col-6">
                <label for="name" class="form-label">이름</label>
                <input type="text" class="form-control" id="name" placeholder="">
              </div>

              <div class="col-6">
                <label for="manufacturer" class="form-label">제조사</label>
                <input type="text" class="form-control" id="manufacturer" placeholder="">
              </div>

              <div class="col-9">
                <label for="storageInterface" class="form-label">인터페이스</label>
                <select class="form-select" aria-label="Default select example" id="storageInterface">
                  <option value="PCIe 4.0(x4)">PCIe 4.0(x4)</option>
                  <option value="PCIe 3.0(x4)">PCIe 3.0(x4)</option>
                  <option value="Thunderbolt 3">Thunderbolt 3</option>
                  <option value="SATA(6 Gbps)">SATA(6 Gbps)</option>
                  <option value="USB 3.2 Gen2x2">USB 3.2 Gen2x2</option>
                  <option value="USB 3.2 Gen2">USB 3.2 Gen2</option>
                  <option value="USB 3.2 Gen1">USB 3.2 Gen1</option>
                </select>
              </div>

              <div class="col-9">
                <label for="formFactor" class="form-label">폼팩터</label>
                <select class="form-select" aria-label="Default select example" id="formFactor">
                  <option value="M.2 2280">M.2 2280</option>
                  <option value="외장형">외장형</option>
                  <option value="3.5형">3.5형</option>
                  <option value="2.5형">2.5형</option>
                </select>
              </div>

              <div class="col-9">
                <label for="capacity" class="form-label">용량</label>
                <select class="form-select" aria-label="Default select example" id="capacity">
                  <option value="256GB">256GB</option>
                  <option value="512GB">512GB</option>
                  <option value="1TB">1TB</option>
                  <option value="2TB">2TB</option>
                  <option value="4TB">4TB</option>
                </select>
              </div>

              <div class="col-4">
                <label for="readSpeed" class="form-label">읽기 성능</label>
                <input type="number" class="form-control" id="readSpeed" placeholder="">
              </div>

              <div class="col-4">
                <label for="writeSpeed" class="form-label">쓰기 성능</label>
                <input type="number" class="form-control" id="writeSpeed" placeholder="">
              </div>

              <label for="imageFile">부품 이미지</label>
              <input type="file" class="form-control" id="imageFile">
            </div>

            <hr class="my-4">
          </form>
          <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary btn-lg" type="submit" id="confirm">데이터 등록</button>
            <button class="btn btn-secondary btn-lg" type="submit" id="cancel">취소</button>
          </div>
        </div>
      </div>
    </main>

    <footer class="py-5 text-body-secondary text-center text-small">
      <p class="mb-1">&copy; 2023 CusCom</p>
    </footer>
  </div>
  <script type="text/javascript">

    const queryParams = new URLSearchParams(window.location.search);
    const queryData = queryParams.get("DataStorage");
    let firstCreate = false;
    let beforeID = null;

    function initialSetup(){
      fetch(`/CusCom/API/searchDataStorage${queryData !== null ? `?DataStorage=${queryData}` : ''}`)
        .then(response => response.json())
        .then(data => {
          document.getElementById('name').value = data.name;
          document.getElementById('manufacturer').value = data.manufacturer;
          document.getElementById('storageInterface').value = data.storageInterface;
          document.getElementById('formFactor').value = data.formFactor;
          document.getElementById('capacity').value = data.capacity;
          document.getElementById('readSpeed').value = data.readSpeed;
          document.getElementById('writeSpeed').value = data.writeSpeed;
          firstCreate = (data.name === "");
          beforeID = data.id;
        })
    }

    window.onload = initialSetup;

    document.getElementById('confirm')
            .addEventListener('click',function(event){
              const DataStorage = {
                name: document.getElementById('name').value,
                manufacturer: document.getElementById('manufacturer').value,
                storageInterface: document.getElementById('storageInterface').value,
                formFactor: document.getElementById('formFactor').value,
                capacity: document.getElementById('capacity').value,
                readSpeed: document.getElementById('readSpeed').value,
                writeSpeed: document.getElementById('writeSpeed').value
              };

              var formData = new FormData();
              formData.append('Type', 'DataStorage');
              formData.append('Data', JSON.stringify(DataStorage));
              formData.append('Image', document.getElementById('imageFile').files[0]);

              if(firstCreate){
                fetch("/CusCom/adminAPI/createParts", {
                    method: "POST",
                    body: formData
                })
                .then(response =>
                    if(response.ok){ window.location.href='/CusCom/adminPage/main'; }
                    else { return response.json(); }
                )
                .then(data => {
                    alert("Error: " + data.message);
                })
                .catch(error => {
                    console.error("Error:", error);
                });
              }
              else{
                formData.append('BeforeID', beforeID);
                fetch("/CusCom/adminAPI/updateParts", {
                    method: "POST",
                    body: formData
                })
                .then(response =>
                    if(response.ok){ window.location.href='/CusCom/adminPage/main'; }
                    else { return response.json(); }
                )
                .then(data => {
                    alert("Error: " + data.message);
                })
                .catch(error => {
                    console.error("Error:", error);
                });
              }
            });

    document.getElementById('cancel')
            .addEventListener('click',function(event){
                history.go(-1);
            });
  </script>
</body>
</html>