<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <div th:replace="~{fragments2/setup :: setup}"/>
</head>
<body class="d-flex h-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
        <div th:insert="~{fragments2/header :: header}"></div>
        <main class="px-3">
            <h1>CUS-COM</h1>
            <div class="d-grid gap-2 col-6 w-50 mx-auto">
                <button class="btn btn-lg btn-primary btn-light fw-bold" type="submit">일반 유저 페이지</button>
                <button class="btn btn-lg btn-primary btn-warning fw-bold" type="submit">관리자 페이지</button>
                <button class="btn btn-lg btn-primary btn-danger fw-bold" type="submit">로그아웃</button>
            </div>
        </main>
        <footer class="mt-auto text-white-50">
            <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
        </footer>
    </div>
</body>
</html>